img {
  width: 100%;
  border-radius: 16px;
  min-height: 100%;
  z-index: -1;
}

.container {
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}

.title {
  position: absolute;
  top: 8px;
  left: 8px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

.release {
  position: absolute;
  bottom: 8px;
  left: 8px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

.buttonContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
}

.button {
  padding: 4px;
  font-size: 14px;
  opacity: 0.8;
}
